<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Notepad Name: </div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Name" data-bind="value: noteName">
            <button class="btn btn-primary" data-bind="click: createNote">Create</button>
        </div>
    </div>
</form>