@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <h2>Input text page</h2>
    <p></p>
    <h3>Input your text below:</h3>
    <input type="text" name="textToPush" /><br/>
    <button name="actionButton" value="push">Push</button>
    <button name="actionButton" value="clear">Clear</button>
    
}